<!DOCTYPE html>
<html>
<head>
  <title>Csgogames</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <div class="nav-wrapper cyan darken-3">
	   <%= link_to root_path  do %>
	    <i class = "brand-logo center" >CSMvpSkins.com</i>
	    <% end %>  
     
     
     <% if current_user %>
     
      <ul id="nav-mobile" class="left hide-med-and-down">
          <li><%= image_tag current_user.avatar_url, alt: current_user.nickname %></li>
                
      <li><%= link_to "About us", about_path %> </li>
      
      
      <li><%=link_to "Jackpot", jackpot_path %> </li>
     
  
      
       
      <li><%= link_to "Profit", profit_path %> </li>
      
      <li><%= link_to "Donate", donate_path %></li>
      <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
      </ul>
      <% else %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to image_tag("sits_small.png"), '/auth/steam' %></li>  
        
      </ul>
      <% end %>
      </ul>
    </div>
  </nav>
         
  

<%= yield %>

</body>
</html>
